---
layout: default
title: Test site 
extrajs:
  - index.js
carousel:
  - title: Item 1 
    img: ai-robotics
    text: >
      Text for item 1
      Make it two lines of text.
    url: projects
    button: Current projects
  - title: Inspired by ABRs site.
    img: brain
    text: >
      Another 
      multiline set of text for this item
    url: team
    button: Meet the team
---
<div id="index-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#index-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#index-carousel" data-slide-to="1"></li>
    <li data-target="#index-carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    {% for item in page.carousel %}
    <div class="item {{ item.img }}{% if forloop.index0 == 0 %} active{% endif %}">
      <div class="container">
        <div class="carousel-caption">
          <h1>{{ item.title }}</h1>
          <p>{{ item.text }}</p>
          <p><a class="btn btn-lg btn-primary" href="{{ site.baseurl }}/{{ item.url }}" role="button">{{ item.button }}</a></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="left carousel-control" href="#index-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#index-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

